---
// VISUALS
import { Icon } from "astro-icon";

// IMPORTS

// THIS MOVED WITH COMPONENT
const cardBody=[
"text-gray-600",
"border-2",
"border-gray-700",
"rounded-lg",
"p-4",
"m-4",
"h-40",
"bg-gray-300",
"flex",
"gap-5",
"justify-center",
"items-center"
]

 const cardHeading=[
 "text-base",
 "md:text-6xl",
 "font-bold",
 "font-mono",
 "mb-1",
 ]

---
<!-- CARD STARTS HERE -->
<div id="card-body" class:list={[ cardBody ]}>
    <Icon name="carbon:document-unknown" class="w-8 md:w-20"/> 
    <h5 class:list={[ cardHeading ]}> Nothing Here</h5>
</div>
<!-- CARD END HERE -->
