---
const date = new Date();
---

<footer class="p-8  bg-slate-700">
    <div class="container mx-auto flex items-center justify-center ">
    <small class="text-slate-400">
        Copyright &copy;
        <span id="copyright">{date}</span> |
        All rights Reserved
    </small>
    </div>
</footer>
