---
import { Icon } from 'astro-icon';
import Link from "../components/Links.astro";

---

<section class="">
    <div class="bg-slate-300 p-9 rounded-xl flex w-[89%] md:h-96 h-[80dvh] mx-auto flex-col">
        <h1 class="text-2xl font-bold">Create Professional Resumes</h1>
        <p>Build a resume that stands out from the crowd with our easy-to-use resume builder.</p>

        <div class="mt-12">
    <Link
            text="CREATE MY RESUME NOW"
            href="/register"
            classes={'rounded text-white bg-red-700 p-5 '}
            />
    </div>
    </div>
</section>
