---
import { Icon } from 'astro-icon';
import Link from "../components/Links.astro";

---

<section>
    <div class="hero_container" style="background-image: url('/images/bg.jpg')">
        <h1 class="h1_header">Create Professional Resumes</h1>
        <p>Build a resume that stands out from the crowd with our easy-to-use resume builder.</p>

        <div class="mt-12 flex justify-center md:justify-start ">
    <Link
            text="CREATE MY RESUME NOW"
            href="/register"
            classes={'rounded text-white bg-orange-600/100 drop-shadow-md p-5 font-bold'}
            />
    </div>
    </div>
</section>
<style>
    .hero_container {
        @apply bg-gray-400 bg-blend-lighten md:bg-right-top bg-cover p-9 rounded-xl flex max-w-sm md:max-w-4xl lg:max-w-4xl md:h-96 h-[80dvh] mx-auto flex-col;
    }

    .h1_header {
        @apply text-5xl font-bold text-slate-800 mix-blend-multiply drop-shadow-md;
    }

    p {
        @apply font-semibold text-lg pt-2 md:text-xl max-w-sm text-slate-800 mix-blend-multiply drop-shadow-md;
    }
</style>
