---
import { Icon } from "astro-icon"
import Link from "../components/Links.astro"

const current = new URL(Astro.request.url).pathname.slice(1);
const active = "text-orange-600 font-bold bg-white p-1 rounded-sm"
const inactive = "text-white font-bold"
---
<nav class="mb-10 bg-orange-600">
    <div class="container flex items-center justify-between mx-auto w-[92%]">
        <div>
            <img class="w-14 h-14" src="/images/writing.png" alt="logo" />
        </div>
        <div>
            <ul class="flex items-center gap-[4vw]">
                <li>
                    <Link
                    text="Home"
                    href="/"
                    classes={current === "" ? active : inactive}
                    />
                </li>
                <li>
                    <Link
                    text="About"
                    href="/about"
                    classes={current === "about" ? active : inactive}
                    />
                </li>
            </ul>
        </div>
        <div>
            <Link
            text="Sign Up"
            href="/register"
            classes={current === "register" ? `${active} items-center flex` : `${inactive} items-center flex`}
            icon={{
            name: "mdi:user-circle",
            side: "left",
            }}
            />
        </div>
    </div>
</nav>
