---
import { Icon } from "astro-icon"
import Link from "../components/Links.astro"

const current = new URL(Astro.request.url).pathname.slice(1).split('/').pop();
const active = "text-orange-600 font-bold bg-white p-1 rounded-sm items-center flex"
const inactive = "text-white font-bold items-center flex"
---
<nav class="mb-5 bg-orange-600">
    <div class="container my-2 flex items-center justify-between mx-auto w-[92%]">
        <div> 
            <a href="/">
            <img class="w-14 h-14" src="/images/writing.png" alt="logo" />
            </a>
        </div>
        <div>
            <ul class="flex items-center gap-[4vw]">
                <li>
                    <Link
                    text="Resumes"
                    href="#"
                    classes={current === "cv" ? active : inactive}
                    icon={{
                        name: "fluent:document-person-16-regular",
                        side: "left"
                    }}
                    isNav
                    />
                </li>
                <li>
                    <Link
                    text="Profile"
                    href="#"
                    classes={current === "profile" ? `${active}` : `${inactive}`}
                    icon={{
                        name: "mdi:user-circle",
                        side: "left"
                    }}
                    isNav
                    />
                </li>
            </ul>
        </div>
        <div>
            <Link
            text="Logout"
            href="#"
            classes={current === "logout" ? active : inactive }
            icon={{
            name: "mdi:location-exit",
            side: "left",
            }}
            isNav
            />
        </div>
    </div>
</nav>
