---
import Userlayout from "../../layouts/Userlayout.astro";

---

<Userlayout title="Dashboard" >
  <p class="font-bold pb-5 text-center text-4xl">hello Resumes</p>
  <p class="font-bold pb-5 text-center text-4xl"> ⚠️ IF YOU ARE HERE WITHOUT LOGIN THEN LOGIN CHECKING ARE EITHER NOT WORKING OR HAVEN'T BEEN SET ⚠️</p>
  <p class="font-bold pb-5 text-center text-4xl"> ⚠️  OR THE ROUTING IN USER/INDEX IS SET TO SEND YOU HERE ⚠️</p>
</Userlayout>
