---
import "../styles/global.css"

const { title , classes } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <title>Print Page</title>
    </head>
    <body class="h-auto width-auto" >
        <slot />
    </body>
</html>
