---
import { Icon } from "astro-icon"
import Userlayout from "../../../../../layouts/Userlayout.astro"
import Text_input from "../../../../../components/Text_input.astro"
import convertFormData from "../../../../../utils/convertFormData.js"

let x;

x = Astro.cookies.has("other") ? Astro.cookies.get("other").json() : null;

if (Astro.request.method === "POST"){
    try{
        const data = await Astro.request.formData();

        // OBJECT ENTRIES METHOD
        const d = Object.fromEntries(data.entries());

        // Check and assign other cookie val to other or []
        let other = Astro.cookies.has("other") ? Astro.cookies.get("other").json() : [];

        const isDuplicate = other.some((obj)=> JSON.stringify(obj) === JSON.stringify(d));

        if(!isDuplicate){
            other.push(d);

            console.log("---------- other val ----------")
            console.log(other)
            console.log("--------------------\n")

            Astro.cookies.set('other', JSON.stringify(other), {maxAge: 60 * 60} )
        }

        // code to convert into useable obj arrays
        x = other.filter(e => typeof e === "object")

        Astro.redirect(Astro.url.pathname)

    } catch (err){
        if (err instanceof Error){
        console.error(err.message);
        }
    }

}

// FOR SETTING MAX month in the form

const maxmonth = await (()=>{
let date = new Date().toJSON().slice(0, 7);
return date;
})();

// DEBUG ONLY
// console.log(maxmonth);
console.log(x)
console.log("---------- Cookie val ----------")
console.log(Astro.cookies.get("other").value)
console.log("This is other --------------------\n")

---
<Userlayout>
    <div class="form_container">

        <h1>Step:6/7 Skills, Languages and other details</h1>

        <hr>

        <div class="my-2 leading-tight flex flex-col justify-center gap-2 border-green-500 bg-green-200 text-green-800 border-l-4 border-y rounded border-r mx-2">
            <div class="flex gap-2 items-center font-bold">
            <Icon name="mdi:lightbulb-on" class="w-8 "/>
            Tips:
            </div>
            <p class="px-2 pb-1">
            You can use comma to separate different skills, languages
            </p>
        </div>

        <div class="my-2 leading-tight flex flex-col justify-center gap-2 border-yellow-500 bg-yellow-200 text-yellow-800 border-l-4 border-y rounded border-r mx-2">
            <div class="flex gap-2 items-center font-bold">
            <Icon name="mdi:warning" class="w-8 "/>
            Things to keep in mind:
            </div>
            <p class="px-2 pb-1">
            Only try adding in skills you are confident in.
            </p>
            <p class="px-2 pb-1">
            Do not try to pad-out your resume.
            </p>
        </div>

        <hr>

        <form method="POST" id="myc" autocomplete="off">

            <fieldset>
                <legend class="text-sm text-gray-600 font-semibold">Most Recent Experience:</legend>

            <Text_input
                    name="skills"
                    id="skills"
                    type="text"
                    lname="Technical Skills"
                    placeholder="PHP, HTML, etc"
                    />

            <Text_input
                    name="languages"
                    id="languages"
                    type="text"
                    lname="Spoken or written languages"
                    placeholder="ex: Odia(native), English(intermidaiate)"
                    />

            <Text_input
                    name="certificates"
                    id="certificates"
                    type="text"
                    lname="Certificates & Tranning"
                    placeholder="ex: CCNA, CompTIA+"
                    />

                    <hr>
            </fieldset>

            <button class="submit" type="submit">Add<button>

        </form>

        <h2 class="my-3 text-center font-semibold text-gray-600">Added experience will appear under here:</h2>

        {
        x &&
        <div>
        <ol class="list-decimal list-inside font-semibold text-sm text-gray-600">
            {x.map(x => (
            <li>{x.skills}</li>
            <li>{x.languages}</li>
            <li>{x.certificates}</li>
            ))}
        </ol>
        </div>
        }


    </div>
    <a href="/cv-builder/templates/ats01/form/confother" >
        <div class="bg-blue-500 text-center py-4 text-white font-bold mx-1 my-3">NEXT</div>
    </a>
</Userlayout>

<style>
    h1 {
        @apply text-center font-bold text-gray-700 my-3;
    }

    hr {
        @apply border-2 my-4;
    }

    .form_container {
        @apply container mx-auto max-w-sm md:max-w-2xl;
    }

    form {
        @apply shadow-md p-8;
    }

    .submit {
        @apply bg-orange-500 w-full my-4 py-4 text-white font-bold;
    }

    .mob_container {
        @apply flex flex-col gap-1 ;
    }
</style>
