---
// Redirect for not having edu cookie

let p,exp,edu,o,token

let payload={}

if(Astro.cookies.has("personal")){
p = Astro.cookies.get("personal").json()
payload["personal"]=p
}

if(Astro.cookies.has("exp")){
exp = Astro.cookies.get("exp").json()
payload["experience"]=exp
}

if(Astro.cookies.has("edu")){
edu = Astro.cookies.get("edu").json()
payload["education"]=edu
}

if(Astro.cookies.has("others")){
o = Astro.cookies.get("others").json()
payload["others"]=o
}

// DEBUG ONLY
console.log("----- p value -----")
console.log(p)
console.log("----------\n")
console.log("----- exp value -----")
console.log(exp)
console.log("----------\n")
console.log("----- edu value -----")
console.log(edu)
console.log("----------\n")
console.log("----- o value -----")
console.log(o)
console.log("----------\n")

console.log("----- payload value -----")
console.log(payload)
console.log("----------\n")
if(Astro.cookies.has("token")){
token = Astro.cookies.get("token").value
}

const res = await fetch("http://localhost:5000/resume/save", {
method: "POST",
headers: { 'Content-Type':'application/json; charset=utf-8', 'token':token },
body: JSON.stringify(payload)
})

const body = await res.json()

---

{JSON.stringify(payload)}
{res.status}

<p>{JSON.stringify(body)}</p> 
