---
import BaseLayout from "../layouts/BaseLayout.astro"
---
<BaseLayout title="About Page" >

    <div class="max-w-sm container mx-auto lfe flex-col md:max-w-2xl">

<p>
Welcome to MyResumeBuilder, the online resume builder that helps you create a standout resume in minutes! We know that job hunting can be stressful, which is why we've created an easy-to-use platform that simplifies the resume building process and takes the hassle out of job applications.
</p>

<p>
Our resume builder is designed to help job seekers of all levels and industries create professional-looking resumes that showcase their skills, experiences, and achievements. Whether you're a recent graduate entering the job market for the first time, or a seasoned professional looking to take the next step in your career, our platform has the tools and resources you need to create a winning resume.
</p>

<p>
At MyResumeBuilder, we're passionate about helping job seekers succeed. We understand that every job search is unique, and that's why we offer a variety of resume templates and customization options to help you create a resume that stands out from the crowd. Our platform also includes helpful tips and advice on resume writing, as well as guidance on how to tailor your resume to specific job openings.
</p>

<p>
Our mission is to make the job search process as seamless and stress-free as possible, which is why we're constantly improving and updating our platform to better serve our users. We pride ourselves on providing top-notch customer support, and we're always here to answer any questions or concerns you may have.
</p>

<p>
Thank you for choosing MyResumeBuilder as your partner in your job search journey. We're excited to help you create a resume that opens doors and gets you one step closer to your dream job!
</p>
    </div>
</BaseLayout>
<style>
    p {
        @apply my-6 font-serif text-lg;
    }

</style>
