---
// VISUALS
import Userlayout from "../../layouts/Userlayout.astro";
// IMPORTS
---

<Userlayout title="Faq" >
  
<h2>Frequently Asked Questions</h2>
    
    <h2>What is a Resume Builder??</h2>
    <p>A Resume Builder is an online tool that helps job seekers create a professional and polished resume in a quick and easy manner. It usually provides users with a variety of templates and customization options to tailor the resume to their specific needs.</p>
    
    <h2>Is it free to use the Resume Builder?</h2>
    <p>Yes, of course.You can use Myresumebuilder site for free cv/resume generation.</p>
    
    <h2>Can I edit my resume after I've created it?</h2>
    <p>Yes, our site allow you to edit and update your resume at any time, even after you've completed and downloaded it.</p>
  
      <h2>Can I download my resume in different formats?</h2>
    <p>For now , it only supports pdf format.</p>
  
      <h2>How do I ensure my resume is ATS-friendly?</h2>
    <p>Applicant Tracking Systems (ATS) are software used by many companies to screen resumes. To ensure your resume is ATS-friendly, we have already premade ATS-friendly templates.</p>
  
  <h2>Can I use the Resume Builder to create a cover letter?</h2>
    <p>No, our site only provides services for resume building and downloading.</p>
  
   <h2>How secure is my personal information when using the Resume Builder?</h2>
    <p>Our Resume Builder sites use encryption and other security measures to protect your personal information. </p>
  
</Userlayout>
