---
import BaseLayout from "../layouts/BaseLayout.astro"
import HeroSec from "../components/HeroSection.astro"
---
<BaseLayout title="Landing Page">
    <HeroSec />
    <p>Wrapped page</p>
</BaseLayout>
