---
//visuals
import { Icon } from "astro-icon"
import Links from "../components/Links.astro"
import Text_input from "../components/Text_input.astro"
import Button from "../components/Button.astro"
import BaseLayout from "../layouts/BaseLayout.astro"
import { cookieOpt } from "../utils/cookie.js"
// scripts
import { loginUser } from "../utils/auth"

// CHECK FOR LOGIN COOKIE
let cookie;
if (Astro.cookies.has('isLoggedin')){
    return Astro.redirect('/user')
}

// SET COOKIE FOR LOGGED IN USER
// NO REDIRECTS YET FOR USER AND SERVER ERROR
if (Astro.request.method === 'POST') {
    try {
       const data = await Astro.request.formData();
       console.log(data.get('email'))
       const recive = await loginUser(data);
       if(recive.ok){
       const data = await recive.json()
           cookie = data.token;
           console.log(cookie)
           Astro.cookies.set('isLoggedin', 'true', cookieOpt)
           Astro.cookies.set('token', cookie, cookieOpt)

           return Astro.redirect('/user');
        }
    } catch (error ) {
        if (error instanceof Error){
            console.error(error.message)
        }
    }
}
---
<BaseLayout title="Login Page" classes="bg-slate-100">
<div class="flex-1 flex justify-center items-center">
    <div
  class="container mx-auto max-w-xs md:max-w-md lg:max-w-lg w-full rounded-lg bg-white p-6 shadow-lg">
   <div class="flex flex-col items-center mb-2">
   <Icon name="mdi:key-variant" class="w-11 text-gray-500 center" />
  <h2 class="font-bold text-xl text-gray-600">Sign In</h2>
   </div>
  <form method="POST">
    <div class="relative mb-12" data-te-input-wrapper-init>
     <Text_input lname="Email:" input_type="email" name="email" id="useremail" input_type="email" required/>
     <Text_input lname="Password:" input_type="password" name="password" id="userpassword" input_type="password" minlength="6"  required/>
    </div>
    <Button type="submit" name="Login" classes="bg-blue-500 hover:bg-blue-600" />
    <Links href="/register" text="Don't have an account ? Sign Up" classes="text-blue-500 visited:text-purple-600 hover:underline hover:font-medium "/>
  </form>
</div>
 </div>
</BaseLayout>
