---
// scripts
import { cookieDel } from "../utils/cookie.js"

// DELETE COOKIES OF token AND isLoggedin

if(Astro.cookies.has('isLoggedin')){
Astro.cookies.set("isLoggedin", '',cookieDel)
Astro.cookies.set("token", '',cookieDel)
Astro.cookies.set("personal", '',cookieDel)
Astro.cookies.set("edu", '',cookieDel)
Astro.cookies.set("exp", '',cookieDel)
Astro.cookies.set("others", '',cookieDel)
return Astro.redirect('/login');
}

// RETURN REDIRECT TO LOGIN PAGE
return Astro.redirect('/login')
---
<p>Well This is awkward You shouldn't be here <b>MORE LIKE YOU CAN'T BE HERE</b></p>
