---
// scripts

// DELETE COOKIES OF token AND isLoggedin
if(Astro.cookies.has('isLoggedin')){
Astro.cookies.set(isLoggedin, false, {maxAge: 0});
Astro.cookies.set(token, '', {maxAge: 0});
}

// RETURN REDIRECT TO LOGIN PAGE
return Astro.redirect('/login')
---


<p>Well This is awkward You shouldn't be here <b>MORE LIKE YOU CAN'T BE HERE</b></p>
