---
import { Icon } from "astro-icon"
import Links from "../components/Links.astro"
import Text_input from "../components/Text_input.astro"
import Button from "../components/Button.astro"
import BaseLayout from "../layouts/BaseLayout.astro"
import { cookieOpt } from "../utils/cookie.js"

// scripts
import { createUser } from "../utils/auth"

// CHECK FOR LOGIN COOKIE
let cookie;

if (Astro.cookies.has('isLoggedin') && Astro.cookies.has('token')){
return Astro.redirect('/user')
}

// SET COOKIES FOR LOGGING IN USER
// NO USER ERROR HANDLING YET
if (Astro.request.method === 'POST') {
    try {
       const data = await Astro.request.formData();
       // const email = data.get('email')
       // const name = data.get('name')
       // const password = data.get('password')
       const recive = await createUser(data);
       if(recive.ok){
            const data = await recive.json();
            console.log(data)
           cookie = data.token;
           Astro.cookies.set('isLoggedin', 'true', cookieOpt)
           Astro.cookies.set('token', cookie, cookieOpt)
           return Astro.redirect('/user');
        }
        // NO SERVER ERROR HANDLING YET
    } catch (error ) {
        if (error instanceof Error){
            console.error(error.message)
        }
    }
}

---
<BaseLayout title="Register Page" classes="bg-slate-200">
 <div class="flex-1 flex justify-center items-center">
    <div
  class="container mx-auto max-w-xs md:max-w-md lg:max-w-lg w-full rounded-lg bg-white p-6 shadow-lg">
   <div class="flex flex-col items-center mb-2">
   <Icon name="majesticons:briefcase-line" class="w-11 text-gray-500 center" />
  <h2 class="font-bold text-xl text-gray-600">Sign Up</h2>
   </div>
  <form method="POST">
    <div class="relative mb-12" data-te-input-wrapper-init>
     <Text_input lname="Name:" input_type="text" name="name" id="username" input_type="text"  required/>
     <Text_input lname="Email:" input_type="email" name="email" id="useremail" input_type="email" required />
     <Text_input lname="Password:" input_type="password" name="password" id="userpassword" input_type="password" minlength="6"  required/>
    </div>
    <Button type="submit" name="Register" classes="bg-blue-500 hover:bg-blue-600" />
    <Links href="/login" text="Already have an accout? Sign In" classes="text-blue-500 visited:text-purple-600 hover:underline hover:font-medium "/>
  </form>
</div>
 </div>
</BaseLayout>
